body{
    height: 100%;
    .msg-page{
        position: fixed;
        
        z-index: 2;
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        // align-items: center;
        background-color: #59471f7c;
        #modified-msg{
            margin-top: 100px;
            background-color: rgb(243, 219, 182);
            font-size: 2.5rem;
            border-radius: 10%;
            color: #5f4203;
            padding: 60px;
            border: 3px solid #5f4203;
            width: 400px;
            height: 200px;
            text-align: center;
            font-weight: bold;
        }
    }
    .msg-page.hidden{
        display: none;
    }
}
content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .title-div{
        width: 1200px;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
        .city-name{
            font-size: 2.5rem;
            font-weight: bold;
            color: rgb(117, 55, 1);
        }
       
       
        #update-time{
            position: absolute;
            bottom: -20px;
            font-size: 1rem;
            right: 10px;
            color: rgb(103, 103, 103);
            
        }
    }
    .view{
        width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        justify-content: center;
        justify-items: center;
        border-radius: 15px;
        margin: 10px;
        .title{
            width: 100%;
            height: 50px;
            background-color: rgb(230, 141, 141);
            border-radius: 15px 15px 0px 0px;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        #view-box{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            justify-content: center;
            justify-items: center;
            min-height: 320px;

            margin: 20px 50px 20px 50px;
            gap:15px;
            a{
                .cafe-box{
                    display: flex;
                    position:relative;
                    width: 250px;
                    height: 150px;
                    
                    color: white;
                    border-radius: 5%;
                    border-bottom: 0ch;
                    background-color: rgb(192, 185, 185);
                    div{
                        padding: 10px;
                    }
                    .cafe-name{
                        position: absolute;
                        z-index:1;
                        top:50%;
                        transform:translateY(-50%);
                        text-align: center;
                        width: 100%;
                       font-size: 1.25rem;
                    }
                    img{
             
                        object-fit:cover;
                        width: 100%;
                        aspect-ratio: 3/2;
                        border-radius: 5%;
                        filter: brightness(60%);
                        
                        
                    }
                    .card-one{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index:1;
                    }
                      
                    .card-two{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 120x;
                        height: 45px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        color: white;
                        
                        img{
                            width: 15px;
                            height: 15px;
                            background-color: transparent;
                            
                            filter: brightness(100%);
                        }
                        
                    }
                    .card-three{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 110px;
                        height: 45px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;

                        img{
                            width: 15px;
                            height: 15px;

                            background-color: transparent;
                            filter: brightness(100%);
                        }
                        
                    }
        
                }
                .cafe-box:hover{
                    cursor: pointer;
                }
            }
        }
    
    
    }
    
}