<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe-Seeker | City</title>
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/city.css" />
</head>
<body>
    <a href="#topic" id="arrow"><img src="../static/icons/arrow-up-circle.svg"></a>
    <header>
        <div class="topic" id="topic"><a href="/">Cafe-Seeker</a></div>
        <nav>
            <div class="ham"><img src="/static/icons/hamburger.png" width="30" height="30"></div>
            <ul class="nav-link">
                <!-- <li id="discussion">討論區</li> -->
                <!-- <li id="member-page">會員專區</li> -->
                <li id="signin-up-btn" class="show"><a href="/login">登入/註冊</a></li>
                <li id="signout-btn">登出系統</li>
            </ul>
        </nav>
    </header>
    <main>
        <content>
            <div  class="view">
                <h class="title">熱門搜尋的店家</h>
                <div class="search-div" id="view-box"></div>
                
            </div>
            <div  class="view"  >
                <h class="title">熱門收藏的店家</h>
                <div class="favor-div" id="view-box"></div>
            </div>
            <div  class="view" >
                <h class="title">最多人評分的店家</h>
                <div class="rating-div" id="view-box"></div>
            </div>
            <div  class="view">
                <h class="title">最多人討論的店家</h>
                <div class="msg-div" id="view-box"></div>
            </div>
        </content>
        
    </main>

   


    <footer>
        <div>
            <h2 class="footer-head">Cafe-Seeker</h2>
            <ul>
                <li><a href="#"><img src="../static/icons/home_w.png">Home</a></li>
                <li><a href="#"><img src="../static/icons/user_w 1.png">About</a></li>
                <li><a href="#"><img src="../static/icons/mail _w.png">Contact</a></li>
                <li><a href="#"><img src="../static/icons/Git_w.png">GitHub</a></li>
    
            </ul>
            <div class="reference">
                <div>References:</div>
                <li><a href="#"> Cafe Nomad</a></li>
                <li><a href="#">Cafe and Coword</a></li>
            </div>
            <p id="footer-p">COPYRIGHT © 2022</p>
        </div>
    </footer>
    <script type="module"src="../static/js/city.js"></script>
    <script type="module" src="../static/js/datahelper.js"></script>
    <script src="../static/js/nav.js"></script>
</body>
</html>

