<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe-Seeker | 尋找最適合自己的咖啡廳的網站</title>
    <meta name="description" content="整合 Cafe Nomad & Cafe and Cowork 的咖啡廳清單，開始探索每個城市的咖啡廳吧!">
    <meta name="'robots" content="index, follow">
    <meta name="author" content="claire Liang">
    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
</head>
<body>
    <header>
        <div class="topic"><a href="/">Cafe-Seeker</a></div>
        <nav>
            <div class="ham"><img src="/static/icons/hamburger.png" width="30" height="30"></div>
            <ul class="nav-link">
                <li id="discussion">討論區</li>
                <li id="member-page">會員專區</li>
                <li id="signin-up-btn" class="show">登入/註冊</li>
                <li id="signout-btn">登出系統</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="background">
            <div class="description">
                <h2>快速尋找理想的咖啡店</h2>
                <p>整合 Cafe Nomad & Cafe and Cowork 的咖啡廳清單</p>
                <p>開始探索每個城市的咖啡廳吧!</p>
                
                </p>
            
                <form id="keywordform" >
                    <input type="text" name="keyword"  placeholder="搜尋咖啡廳名稱或地點">
            
                    <button type="submit" class="btn"><img src="/static/icons/icon_search.png" alt="search"/></button>
                </form>

            </div>
            
            <div class="back-img">
                <img src="https://d2ltlh9sj9r3jz.cloudfront.net/cafe-seeker/images/cafe_img_2.jpg">
               
            </div>
            
            
    
        </section>
        <content>
            <!-- <div class="city-box">
                <div class="name">台北</div>
                <div class="navigation">
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/home.svg">   
                    首頁</a>
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/list.svg">   
                    清單</a>
                </div>
            </div>
            <div class="city-box">
                <div class="name">基隆</div>
                <div class="navigation">
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/home.svg">   
                    首頁</a>
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/list.svg">   
                    清單</a>
                </div>
            </div>
            <div class="city-box">
                <div class="name">桃園</div>
                <div class="navigation">
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/home.svg">   
                    首頁</a>
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/list.svg">   
                    清單</a>
                </div>
            </div>
            <div class="city-box">
                <div class="name">新竹</div>
                <div class="navigation">
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/home.svg">   
                    首頁</a>
                    <a href="#" class="link-btn"> 
                    <img src="../static/icons/list.svg">   
                    清單</a>
                </div>
            </div> -->
            
           












        </content>
        <div class="load-more">顯示更多城市 ▼ </div>
    </main>
   

    <footer>
        <h2 class="footer-head">Cafe-Seeker</h2>
        <ul>
            <li><a href="#"><img src="../static/icons/home_w.png">Home</a></li>
            <li><a href="#"><img src="../static/icons/user_w 1.png">About</a></li>
            <li><a href="#"><img src="../static/icons/mail _w.png">Contact</a></li>
            <li><a href="#"><img src="../static/icons/Git_w.png">GitHub</a></li>

        </ul>
        <div class="reference">
            <div>References:</div>
            <li><a href="#"> Cafe Nomad</a></li>
            <li><a href="#">Cafe and Coword</a></li>
        </div>
        <p>COPYRIGHT © 2022</p>
    </footer>
    <script src="../static/js/index.js"></script>
</body>
</html>