{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="../static/css/index.css" />
    {% endblock %}
    {% block title %}
    Cafe-Seeker | 尋找最適合自己的咖啡廳的網站
    {% endblock %}
    {% block main %}
        <main>
            <section class="background">
                <div class="description">
                    <h2>快速尋找理想的咖啡店</h2>
                    <p>整合 Cafe Nomad & Cafe and Cowork 的咖啡廳清單</p>
                    <p>開始探索每個城市的咖啡廳吧!</p>

                    
                    </p>
                
                    <form id="keywordform" >
                        <input type="text" name="keyword" id="result_name" placeholder="搜尋咖啡廳名稱或地點" autocomplete="off" spellcheck="false">
                        <div class="search-result">
                
                        </div>
                        <button type="submit" class="btn"><img src="/static/icons/icon_search.png" alt="search"/></button>
                    </form>

                </div>
                
                <div class="back-img">
                    <img src="https://d2ltlh9sj9r3jz.cloudfront.net/cafe-seeker/images/cafe_img_2.jpg">
                
                </div>
                
                
        
            </section>
            <content>
        

            
            </content>
            <div class="load-more">顯示更多城市 ▼ </div>
        </main>
    {% endblock %}
    {% block JS %}
    <script src="../static/js/index.js"></script>
    {% endblock %}

