{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="../static/css/search.css" />
    {% endblock %}
    {% block title %}
    Cafe-Seeker | 關鍵字搜索
    {% endblock %}
    {% block main %}
    <main>
        <div class="search-box">
            <div id="search-word"></div>
            <div id="search-total"></div>


        </div>

        <content>
        </content>

        <div class="page-navigation">
            <ul class="pagination" id="pagination">

            </ul>
        </div>


    </main>
    {% endblock %}
    {% block JS %}
    <script type="module" src="../static/js/search.js"></script>
    <script type="module" src="../static/js/datahelper.js"></script>
    {% endblock %}
