{% extends "basic.html" %}
{% block CSS %}
<link rel="stylesheet" href="../static/css/login.css" />
{% endblock %}
{% block title %}
Cafe-Seeker | Login
{% endblock %}
{% block main %}
<section class="signpage">
    <div class="sign-container show">
        <div class="topbar">Cafe-Seeker</div>
        <!-- <div class="google-signin btn ">
            <div class="google-icon ">
                <img src="/static/icons/icons8-google.svg" alt="">
            </div>
            <div class="">Google 註冊 / 登入&nbsp;&nbsp;</div>
        </div> -->
        <div class="form-content">
            <form id="signin">
                <h3 class="form-title">登入會員
                </h3>
                <div class="input-content">
                    <p> 信箱 : </p>
                    <div class="verify" input-type="signin">
                        <input type="email" placeholder="輸入電子信箱" name="email" value="test1@gmail.com">
                        <div class="user-input-msg">
                            <span></span>
                        </div>
                    </div>
                    <p> 密碼 : </p>
                    <div class="verify" input-type="signin">
                        <input type="password" placeholder="輸入密碼" name="password" value="test1">
                        <div class="user-input-msg">
                            <span></span>
                        </div>
                    </div>
                    <button type="submit">登入帳戶</button>
                </div>
                <p class="message"></p>
                <p class="convert-sign">還沒有帳戶？點此註冊</p>
            </form>
        </div>
    </div>

    <div class="sign-container">
        <div class="topbar"></div>
        <div class="form-content">
            <form id="signup">
                <h3 class="form-title">註冊會員
                </h3>
                <div class="input-content">
                    <div class="verify" input-type="signup">
                        <input type="text" placeholder="輸入姓名" name="username">
                        <div class="user-input-msg">
                            <span></span>
                        </div>
                    </div>
                    <div class="verify" input-type="signup">
                        <input type="email" placeholder="輸入電子信箱" name="email">
                        <div class="user-input-msg">
                            <span></span>
                        </div>
                    </div>
                    <div class="verify" input-type="signup">
                        <input type="password" placeholder="輸入密碼" name="password">
                        <div class="user-input-msg">
                            <span></span>
                        </div>
                    </div>

                    <button type="submit">註冊帳戶</button>

                </div>
                <p class="message"></p>
                <p class="convert-sign">已經有帳戶了？點此登入</p>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block JS %}
<script src="../static/js/login.js"></script>
{% endblock %}

