{% extends "basic.html" %}
    {% block CSS %}
    <link rel="stylesheet" href="../static/css/member.css" />
    <script src="https://kit.fontawesome.com/0b26f16c17.js" crossorigin="anonymous"></script>
    {% endblock %}
    {% block title %}
    Cafe-Seeker | 會員專區
    {% endblock %}
    {% block main %}
    
    <main>
        <content>
            <section class="member-info-container">
                <div class="user-img">
                    <div class="user-pic"><img id="user-photo"></div>
                    <label class="photo-upload-cover">
                        <input id="photo-upload-input" type="file" name='file'accept=".jpg,.png,.jpeg ">
                        <img src="../static/icons/upload.svg"></img>
                    </label>
                </div>
                <div class="user-info">
                    <div class="username-save ">使用者名稱:
                        <span class="username-auto"></span>
                        <button id="username-edit-icon"><i class="fa-solid fa-pencil fa-lg"></i></button>
                    </div>
                    <div class="username-edit hide"> 使用者名稱:  
                        <span><input type="text" id="newName" placeholder="輸入新名稱" /></span>
                        <button id="username-save-icon"><i class="fa-solid fa-file-pen fa-lg"></i></button>
                        <button id="username-cancle-icon"><i class="fa-solid fa-right-from-bracket fa-lg"></i></button>
                    </div>
                    
                    <div class="user-email">帳號信箱:<span id ="email"></span></div>
                    
                    
                    
                </div>
                
            </section>
            <section class="record">
                <div class="record-detail">
                    <div class="favor-title">我的收藏清單</div>
                    <div class="favor-div"></div>
                </div>
                <div class="record-detail">
                    <div class="photo-title">我的上傳紀錄</div>
                    <div class="photo-div"></div>
                </div>
                 
               
    
            </section>
           
        </content>
        
    </main>
    {% endblock %}
    {% block JS %}
    <script src="../static/js/member.js"></script>
    {% endblock %}

