<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="topic"><a href="/">Cafe-Seeker</a></div>
        <nav>
            <div class="ham"><img src="/static/icons/hamburger.png" width="30" height="30"></div>
            <ul class="nav-link">
                <!-- <li id="discussion">討論區</li> -->
                <li id="member-page">會員專區</li>
                <li id="signin-up-btn" class="show"><a href="/login">登入/註冊</a></li>
                <li id="signout-btn">登出系統</li>
            </ul>
        </nav>
    </header>
    <div>
        <img src ="/static/images/user.png">
    </div>
    
    <script src="../static/js/nav.js"></script>
</body>
</html>