<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav.css" />
    <title>Document</title>
    <style>
        main{width: 1200px;margin: auto;}
        section{
            display: flex;
            min-height: 500px;
            align-items: center;
            justify-content: center;
           flex-direction: column;
        }

    </style>
</head>
<body>
    <header>
        <div class="topic"><a href="/">Cafe-Seeker</a></div>
        <nav>
            <div class="ham"><img src="/static/icons/hamburger.png" width="30" height="30"></div>
            <ul class="nav-link">
                <!-- <li id="discussion">討論區</li> -->
                <!-- <li id="member-page">會員專區</li> -->
                <li id="signin-up-btn" class="show"><a href="/login">登入/註冊</a></li>
                <li id="signout-btn">登出系統</li>
            </ul>
        </nav>
    </header>
    <div  class="search-box">
        <div id="search-word"></div>
        <div id="search-total"></div>
   

    </div>
    <main>
        <section>
            <h style="color:blue;font-size:2.5rem">評分提交成功</h>
            <a id="link"></a>
        </section>
    </main>
    
    
<div class="page-navigation">
    <ul class="pagination" id="pagination">

    </ul>
</div>

    <footer>
        <div>
            <h2 class="footer-head">Cafe-Seeker</h2>
            <ul>
                <li><a href="#"><img src="../static/icons/home_w.png">Home</a></li>
                <li><a href="#"><img src="../static/icons/user_w 1.png">About</a></li>
                <li><a href="#"><img src="../static/icons/mail _w.png">Contact</a></li>
                <li><a href="#"><img src="../static/icons/Git_w.png">GitHub</a></li>
    
            </ul>
            <div class="reference">
                <div>References:</div>
                <li><a href="#"> Cafe Nomad</a></li>
                <li><a href="#">Cafe and Coword</a></li>
            </div>
            <p id="footer-p">COPYRIGHT © 2022</p>
        </div>
    </footer>

    <script src="../static/js/nav.js"></script>
    <script>
        const src_id=document.URL.split('/').at(-1)
        const link=document.querySelector('#link')
        async function Init(){
            const response=await fetch(userApi);
            const result=await response.json();
            if (result.data){
                const ratingApi=`/api/rating/${src_id}`
                const ratingres=await fetch(ratingApi,{method:'GET'});
                const ratingResult=await ratingres.json();
                if(ratingResult.data){
                    
                    link.href=`/shop/${ratingResult.data.cafe_id}`
                   
                    link.append("回到",ratingResult.data.cafe_name,"的頁面")
                //    shopName.innerText=`您正在對" ${shopResult.data.name} 評分"`;
                }
            }else{
                location.replace('/login');
            }
        }
        Init();
    </script>
</body>
</html>